@import 'helpers';
@import url(../fonts/clear-sans.css);

$field_width: 500px;

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #451a0a;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; 
  font-weight:bold; 
  background-color: #FFF;
 }
 
 body {
  margin: 80px 0;
}
 
h1.title {
  font-size: 80px;
  font-weight: bold;
  color: #FFAD5C;
  margin: 0;
  display: block;
  float: left;
}

h5.title {
  font-size: 18px;  
  color: #FFAD5C;
  margin: 0;
  display: block;
  float: left;
}

.counters-container {
  float: right;
  width: 100px;
  height: 100px;
  text-align: center;
  border-width: 3px;
  border-color: #451a0a;
  z-index: 3;
  
}
  
.moves-counter {
  $height: 25px;
  position: relative;
  display: inline-block;
  font-size: $height;
  height: $height;
  font-weight: bold;
  text-align: center;
}  
  
#contentContainer {	
    width: $field_width;
    height: $field_width;
    border-width: 5px;
    border-style: solid;
    border-color:#291400;
    overflow: hidden;
    background-color: #FFFFC2;
    cursor: pointer;    
    z-index: 1;
    float: middle;
}

.outer_container {
  width: $field_width;
  margin: 0 auto;
}

.td {
	text-align: center;
}
.cell {            
    overflow: hidden;
    font-size: 34px; 
    
    z-index: 3; 
    display: table-cell;
    text-align: center;    
    vertical-align: middle;
    color: #CCAB7A;  
}  

.tile {
	background-image:url('../img/tile.gif');
	background-repeat:no-repeat;
	background-size: 100% 100%;
    text-align: center;    
    overflow: hidden; 
    z-index: 3; 
    font-size: 35px;
    display: table-cell;
    vertical-align: middle;
}

@include keyframes(move-up) {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}


